<!DOCTYPE html>
<html>

<head lang="en">

  <title>YABS App</title>

  <link rel="shortcut icon" type="image/png" href="favicon.ico" />

  <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


  <script src="app/js/jquery.js"></script>
  <script src="app/js/bootstrap.min.js"></script>
  <script src="app/js/jquery.dataTables.min.js"></script>
  <script src="app/js/dataTables.bootstrap.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="app/css/sb-admin-2.css" rel="stylesheet">
  <link href="app/css/font-awesome.min.css" rel="stylesheet">
  <link href="app/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

  <link href="app/css/spinner.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Polyfill(s) for older browsers -->
  <script src="../node_modules/core-js/client/shim.min.js"></script>
  <script src="../node_modules/zone.js/dist/zone.js"></script>
  <script src="../node_modules/reflect-metadata/Reflect.js"></script>
  <script src="../node_modules/systemjs/dist/system.src.js"></script>
  <script src="../node_modules/chart.js/dist/Chart.bundle.js"></script>







  <!-- Configure SystemJS -->
  <script src="systemjs.config.js"></script>
  <script>
    System.import('app').catch(function(err){ console.error(err); });
  </script>
</head>

<body>
<base href="/">
<pm-app>
  <h1 style="padding-left: 600px;">Loading ...</h1>
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>

</pm-app>

</body>


</html>