<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{books.length}}</div>
                                <div class="huge"></div>
                                <div>Book List</div>
                            </div>
                        </div>
                    </div>
                    <a [routerLink]="['/books']" >
                        <div class="panel-footer">
                            <span class="pull-left">Enter</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"> {{carts.length}}</div>
                                <div class="huge"></div>
                                <div>Cart</div>
                            </div>
                        </div>
                    </div>
                    <a [routerLink]="['/cart']" >
                        <div class="panel-footer">
                            <span class="pull-left">Enter</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o  fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{histories.length}}</div>
                                <div class="huge"></div>
                                <div>History</div>
                            </div>
                        </div>
                    </div>
                    <a [routerLink]="['/History']" >
                        <div class="panel-footer">
                            <span class="pull-left">Enter</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Statistics</div>
                            </div>
                        </div>
                    </div>
                    <a [routerLink]="['/Stat']">
                        <div class="panel-footer">
                            <span class="pull-left">Enter</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" >
            <img src="app/assets/img/logo.jpg"
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>

    </div>
</div>